<% provide(:title, "new action") %>

<div class = "row">
	<div class = "col-md-6">
		<ul class="nav nav-tabs">
  			<li><a href="#general" data-toggle="tab">general</a></li>
  			<li><a href="#profile" data-toggle="tab">profile</a></li>
  			<li><a href="#feedback" data-toggle="tab">feebback</a></li>
        <li><a href="#content" data-toggle="tab">content</a></li> 			
		</ul>

		<div class="tab-content">
  			<div class="tab-pane active" id="ganeral">
  				<p>General compaign data.</p>
  			</div>
  			<div class="tab-pane" id="profile">
  				<p>Consumer segments and Retail Categories</p>
  			</div>
  			<div class="tab-pane" id="feedback">
  				<p>Feedback attributes</p>
  			</div>
        <div class="tab-pane" id="content">
          <p>Content</p>
        </div>
  		</div>
    </div>
    <div class = "col-md-6">
    </div>
</div>