<% provide(:title, "customer segments") %>
<div class="row">
	<aside class="col-md-4 col-md-offset-1">
		<h3>add new segment</h3>
		<%= render "shared/seg_form" %>
	</aside>
	<div class="col-md-1">
	</div>
	<div class="col-md-5" id="my-segments">
		<h3>my segments</h3>		
		<section>
			<%= render "shared/seg_list" %>			
		</section>
	</div>
</div>