<% provide(:title, "new promo action") %>

<div class = "row">
	<div class = "col-md-5 col-md-offset-1"> 
		<%= render "promoacts/promoact_form" %>
  </div>
  <div class = "col-md-1">
  </div>
  <div class = "col-md-5" id="promo-plan"> 
      <%= render "promoacts/promo_plan" %>
  </div>  
  <div class="row" id="but-section">
    <button type="button" class="btn btn-default" id="print">Print</button>
  </div>   
</div>