<% provide(:title, "new promo action") %>

<div class = "row">
	<div class = "col-md-5 col-md-offset-1"> 
	 <%= render "promoacts/promoact_form" %>	
  </div>
  <div class = "col-md-6">
  </div>
</div>
