<% provide(:title, "trade categories") %>
<div class="row">
	<aside class="col-md-4 col-md-offset-1">
		<h3>add new category</h3>
		<%= render "shared/cat_form" %>
	</aside>
	<div class="col-md-1">
	</div>
	<div class="col-md-5" id="my-cats">
		<h3>my categories</h3>		
		<section>
			<div class="col-md-10">
				<%= render "shared/cat_list" %>				
			</div>
			<div class="col-md-2">
			</div>
		</section>

	</div>
</div>